# for backend
python
py -m ensurepip --default-pip
py -m pip install groq
pip install groq


#for front end
download nodejs (https://nodejs.org/en)
run in powershell if needed>>> Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy RemoteSigned
npm install
npm install axios
py -m pip install flask requests
pip install flask-cors

# start
npm run dev

# for updating your branch
# git pull origin main

# api key CURRENTLY EXPOSED
# https://console.groq.com/keys
