py -m ensurepip --default-pip
py -m pip install groq
pip install groq
py -m pip install flask requests
py -m pip install langchain-core langchain langchain-groq flask flask-cors

npm install
npm install axios
pip install flask-cors